<canvas id="paint" width="350" height="350"></canvas>

<div class="colorSelection">
    <div class="pink" id="#FFA8C4"></div>
    <div class="blue" id="#72B8CC"></div>
    <div class="green" id="#AAFF9B"></div>
    <div class="yellow" id="#FFF14A"></div>
</div>