<%- include('partials/header') %>
    <h1><%= title %></h1>
  
    <p>Welcome to Picto</p>
    <% if(user) { %>
      <img src="<%= user.photo %>" width='100'>
      <br>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Log In With Google</a>
    <% } %>
  </body>
</html>
