<!DOCTYPE html>
<html>
  <head>
    <title>Picto App</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
  </head>
  <body>
    <div>
      <h1>PICTO</h1>
    </div>

    <h1><%= title %></h1>
  
    <p>Welcome to Picto</p>
    <% if(user) { %>
      <img src="<%= user.photo %>" width='100'>
      <br>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Log In With Google</a>
    <% } %>
<%- include('partials/footer') %>