<!DOCTYPE html>
<html>
  <head>
    <title>Picto App</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">
    <link rel='icon' href='/images/favicon.ico' type='image/x-icon'>
  </head>
  <body>
      <div class="logo-bar">
        <h1>PICTO</h1>
      </div>
    

      <div class="login-section">
        <h1 id="log-in">Welcome to Picto :)</h1>
        <a class="link-button" href="/auth/google">Log In With Google</a>
      </div>


<%- include('partials/footer') %>