body, html{
    margin:0;
    padding:0;
}

div {
    background-color: #49D5FF;
    font-family: 'Nothing You Could Do', cursive;
    align-content: left;
    min-width: 100%;
    min-height: 100%;
}