:root {
    font-family: sans-serif;
}

body, html{
    margin:0;
    padding: none;
    background-color: #B68192;
    position: relative;
}

.logo-bar {
    background-color: #72B8CC;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: 900;
    font-size: 8vmin;
    align-content: left;
    min-width: 100%;
    height: 10vmin;
    margin: 0;
    padding-left: 2vmin;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #72B8CC;
    text-align: center;
    margin: 0 auto;
    margin-top: 20vmin;
    width: 80vmin;
    height: 40vmin;
}

.link-button {
    border: solid black 1px;
    border-radius: 4vmin;
    text-decoration: none;
    color: black;
    padding: 1vmin;
    background-color: lightgrey;
  }

  #log-in {
      margin-bottom: 2vmin;
      margin-top: 2vmin;
  }