body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* 
Styles for Canvas 
*/

#paint {background: #333333;}

.colorSelection > div{
  width: 5vmin;
  height: 5vmin;
  display: inline-block;
}

.pink {
  background-color: #FFA8C4;
}

.blue {
  background-color: #72B8CC;
}

.green {
  background-color: #3FFF42;
}

.yellow{
  background-color: #FFF14A;
}


.link-button {
  border: solid black 1px;
  border-radius: 4vmin;
  text-decoration: none;
  color: black;
  padding: 1vmin;
}