* {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

body, html{
  margin:0;
  background-color: #B68192;
  position: relative;
}

/* 
Styles for Canvas 
*/

#paint {background: #333333;}

.colorSelection > div{
  width: 5vmin;
  height: 5vmin;
  display: inline-block;
}

.pink {
  background-color: #FFA8C4;
}

.blue {
  background-color: #72B8CC;
}

.green {
  background-color: #AAFF9B;
}

.yellow{
  background-color: #FFF14A;
}

/* 
Page Styles 
*/

.home-page, .show-page, .edit-canvas {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15vmin;
  justify-content: center;
  margin: 5vmin;
}

.link-button {
  display: inline-block;
  border: solid black 1px;
  border-radius: 4vmin;
  text-decoration: none;
  font-size: 2\vmin;
  color: black;
  padding: 1vmin;
  background-color: lightgrey;
}

.logo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #72B8CC;
  min-width: 100%;
  padding: 1vmin 2vmin;
}

.logo-bar h1 {
  margin: 0;
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 900;
  font-size: 8vmin;
}

.logo-bar > a {
  text-decoration: none;
  font-size: 3vmin;
  color: black;
}

.account-info {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2vmin;
  align-items: center;
  font-size: 4vmin;
}

.user-name {
  display: inline-block;
}

.picto-img {
  background-color: #333333;
  display: block;
}

.picto-link {
  display: block;
}

.picto-link + .picto-link {
  margin-top: 2vmin;
}

.your-pictos > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.comment-img{
  background-color: #333333;
  display: block;
  margin: 1em;
  width: 210px;
  height: 210px;
}

.profile-pic {
  border-radius: 50%;
}

.action-buttons {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2vmin;
  margin-top: 2vmin;
  justify-content: start;
}

.user-time {
  display: flex;
  justify-content: space-between;
  font-weight: 450;
  font-size: 2.5vmin;
}


