<%- include('../partials/header') %>


<img src="<%= user.profilePic %>" alt="Your Profile Picture" width="80">
<p class="user-name"><%= name %></p>
<a class="link-button" href="/picto/new">Create a Picto!</a>



<%- include('../partials/footer') %>