<%- include('../partials/header') %>

<h1>home</h1>
<p><%= name %></p>
<img src="<= profilePic %>" alt="Your Profile Picture" width="80">
<a class="link-button" href="/new">Create a Picto!</a>

<%- include('../partials/footer') %>