<%- include('../partials/header') %>
<form action="/home" method="POST">
<%- include('../partials/canvas') %>
<br>
<button class="link-button" type="submit">Submit Picto!</button>
</form>
<%- include('../partials/footer') %>